{% extends 'todo/base.html' %}

{% block content %}
    <ol>
        {% for task in tasks %}
            <li>{{ task.task }}
                <form action="/todo/delete_task/{{ task.id }}" method="post" style="display: inline">
                    {% csrf_token %}
                    <input type="submit" value="Delete"  >
                </form>
            </li>
        {% endfor %}
     </ol>

    <form action="/todo/create_task/" method="post">
        {% csrf_token %}
        Add Task: <input type="text" name="new_task">
        <input type="submit" value="Submit">
    </form>
{% endblock %}